nav {
    background-color: rgb(0, 136, 190);
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
    height: 3.5em;
    top: 0;
    left: 0;
    right: 0;

    padding: 0 0.5em 0 0.5em;
}

.main-link {
    color: white;
    display: inline-block;
    flex: 1;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}

.link-list {
    flex: 1;
}

.default-link {
    color: white;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-wrap: nowrap;
    transition: all 0.3s;
    padding: 0.5em;
}
.default-link:hover, .default-link:focus, .active-link, .log-button:hover {
    background-color: rgb(0, 102, 153);
}

nav ul{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    list-style: none;
}

.log-button {
    background-color: rgb(0, 136, 190);
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 1em;
    transition: all 0.3s;
    padding: 0.5em;
}