@font-face {
  font-family: Monsterrat;
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}

body {
  margin: 0;
  font-family: Monsterrat;
}

main {
  /* min-height: calc(100vh); */
}

button {
  font-family: Monsterrat;
  font-weight: bold;
}